[template=header] {
  flex-direction: column;
  flex: 0 0 65px;
  .header {
    flex: 1;
    line-height: 65px;
    background: darken($primary, 20%);
    color: white;
    //box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
    //margin-bottom: 5px;
    position: relative;
    z-index: 100;
    padding: 0 30px;
    font-weight: 300;
    font-size: 26px;
  }
}