[template=header] {
  flex-direction: column;
  flex: 0 0 65px;

  .header {
    flex: 1;
    line-height: 65px;
    background: darken($primary, 20%);
    //background: linear-gradient(to left, darken($primary-2, 20%) 0%, darken($primary, 20%) 100%);
    color: white;
    //box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
    //margin-bottom: 5px;
    position: relative;
    z-index: 100;
    padding: 0 30px;
    font-weight: 100;
    font-size: 25px;

    .fa {
      line-height: 1;
    }

    .profile {
      float: right;
      height: 55px;
      width: 55px;
      border-radius: 200px;
      margin: 5px -15px 0 16px;
      border: 1px solid white;
      background: white;
      //border: 3px solid darken($primary, 25%);
    }
  }
}