[template=menu] {
  .menu {
    flex: 0 0 200px;
    width: 200px;
    //background: white;
    //box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
    //margin-bottom: 5px;
    position: relative;
    z-index: 100000;
    padding: 15px;
    background: $light-grey;
    transition: .2s;
    overflow: hidden;
    max-height: calc(100vh - 65px);
    overflow-y: hidden;

    .shrink-button {
      position: absolute;
      bottom: 15px;
      height: 30px;
      width: 30px;
      text-align: center;
      cursor: pointer;
      transition: .2s;

      .fa {
        transition: .2s;
      }
    }

    &.shrink {
      width: 40px;
      flex: 0 0 40px;

      .shrink-button {
        margin-left: -10px;
        .fa {
          transform: rotate(180deg);
        }
      }


      .menu-item {
        opacity: 0;
      }
    }

    .menu-items {
      overflow-y: scroll;
      height: calc(100% - 80px);
      /* margin-bottom: 50px; */
      position: absolute;
      width: 170px;
    }

    .menu-item {
      height: 40px;
      line-height: 40px;
      //color: white;
      padding: 0 15px;
      //font-weight: 600;
      color: #999;
      //border-radius: 3px;
      //margin-left: 30px;
      cursor: pointer;
      transition: .2s;

      &:hover {
        color: $body;
      }

      &.active {
        color: $body;
        background: $primary;
        background: radial-gradient(ellipse at center, $primary 50%, darken($primary, 5%) 100%);
        font-weight: 800;
        background: darken($primary, 20%);
        //background: radial-gradient(ellipse at center, darken($primary, 20%) 50%, darken($primary, 30%) 100%);
        color: white;
      }
    }

    .sub-menu-item {
      @extend .menu-item;
      margin-left: 15px;

      &.active {
        background: darken($primary, 20%);
      }
    }
  }
}