<script type="text/ng-template" id="dialog.html">
    <div template="dialog">
        <div class="dialog" ng-class="{active:isActive()}" ng-click="closeDialog();">
            <div class="dialog-box" ng-click="$event.stopPropagation()">
                <div class="dialog-header">{{getTitle()}}</div>
                <div class="dialog-label">{{getMessage()}}</div>
                <input class="dialog-input" placeholder="{{getPlaceholder()}}" ng-model="content.default"/>
                <div class="butn" ng-click="submit(content.default)">Submit</div>
            </div>

        </div>
    </div>
</script>