[template=wall-list] {
  display:flex;
  flex: 1;
  flex-direction: column;
  margin: 30px;

  .wall-list {
    flex-direction: row;
    flex-wrap: wrap;
    display:flex;
    margin: -15px;

    .wall {
      display: flex;
      height: 200px;
      background: white;
      border-radius: 3px;
      padding: 20px;
      margin: 15px;
      box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
      width: 300px;
      cursor: pointer;
      align-items: center;
      justify-content: center;
      font-family: 'Kalam', cursive;
      font-size: 20px;
      font-weight: 600;
      transition: .2s;

      &:hover {
        transform: translateY(-5px);
        background: darken($primary-3, 20%);
        color: white;
      }
    }
  }
}