[template=wall-list] {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 15px;
  background: $off-white;
  overflow-y: auto;

  .wall-list {
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    margin: -15px -15px 0;

    .wall {
      display: flex;
      height: 200px;
      background: white;
      //border-radius: 3px;
      padding: 20px;
      margin: 15px 0 0 15px;
      box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
      width: 300px;
      cursor: pointer;
      align-items: center;
      justify-content: center;
      font-family: 'Kalam', cursive;
      font-size: 20px;
      font-weight: 600;
      transition: .2s;
      //border:1px solid $light-grey;
      border-top: 3px solid darken($primary-2, 20%);
      //background: white;
      //background: darken($primary-3, 20%);
      //color: white;
      //background: radial-gradient(ellipse at center, darken(white, 20%) 50%, darken(white, 30%) 100%);

      &:hover {
        //transform: scale(1.05);
        background: darken($primary-2, 20%);
        ////background: radial-gradient(ellipse at center, darken($primary, 20%) 50%, darken($primary, 30%) 100%);
        color: white;
      }
    }
  }
}