[template=note] {
  .note {
    color: $body;
    padding: 0px;
    //box-shadow: 0 10px 15px -5px rgba(0, 0, 0, 0.2);
    //box-shadow: 0 0px 15px 0px rgba(0, 0, 0, 0.05);
    cursor: hand;
    text-align: center;
    position: absolute;
    top: 100px;
    left: 50px;
    cursor: -webkit-grab;
    cursor: grab;
    width: 100px;
    height: 85px;
    transition: transform .2s, background .2s, opacity .2s, visibility .2s;
    z-index: 10;
    font-size: 12px;
    opacity: 1;

    &.ui-draggable-dragging {
      transform: scale(1.1) rotate(6deg) !important;
      cursor: -webkit-grab;
      cursor: grab;
    }

    &.deleted {
      //visibility: hidden;
      transform: scale(01.1) translateY(-30px) !important;
      opacity: 0;
    }

    &.rotate-1 {

    }

    .note-profile {
      position: absolute;
      width: 20px;
      height: 20px;
      overflow: hidden;

      bottom: 2px;
      left: -13px;
      border-radius: 200px;
      margin: 5px -15px 0 16px;
      //border: 1px solid white;
      border: 1px solid rgba(0, 0, 0, 0.1);
      transition: .2s;
      cursor: pointer;
      background: white;
      transform: rotate(0deg) scale(0.1) translateY(20px);
      opacity: 0;
      visibility: hidden;

      object {
        pointer-events: none;
      }

      &.active {
        visibility: visible;
        opacity: 1;
        transform: rotate(365deg) scale(1);
      }

      &:hover {
        transform: scale(3);
      }
    }

    .note-link {
      position: absolute;
      width: 30px;
      line-height: 30px;
      overflow: hidden;

      bottom: 5px;
      right: 20px;
      border-radius: 200px;
      margin: 5px -15px 0 16px;
      //border: 1px solid white;
      //border: 1px solid rgba(0, 0, 0, 0.1);
      transition: .2s;
      cursor: pointer;
      //background: white;
      transform: rotate(0deg) scale(0.1) translateY(20px);
      opacity: 0;
      visibility: hidden;

      a {
        line-height: inherit;
        width: inherit;
        text-align: center;
        color: inherit;
      }

      &.active {
        visibility: visible;
        opacity: 1;
        transform: rotate(365deg) scale(1);
      }

      &:hover {
        transform: scale(3);
      }
    }

    .note-box {
      position: relative;
      width: 100px;
      height: 85px;
      background: lighten($primary-2, 10%);
      background: radial-gradient(ellipse at center, lighten($primary-2, 15%) 50%, lighten($primary-2, 10%) 100%);
      background: radial-gradient(ellipse at center, $primary-2 50%, darken($primary-2, 5%) 100%);

      display: flex;
      flex-direction: column;

      &.color-2 {
        background: #e1f09f;
        background: radial-gradient(ellipse at center, #e1f09f 50%, darken(#e1f09f, 5%) 100%);
        background: lighten($primary, 10%);
        background: radial-gradient(ellipse at center, $primary 50%, darken($primary, 5%) 100%);
      }

      &.color-3 {
        background: lighten(#f7e47e, 10%);
        background: radial-gradient(ellipse at center, lighten(#f7e47e, 10%) 50%, lighten(#f7e47e, 5%) 100%);
      }

      &.color-4 {
        background: #f7c8c2;
        background: lighten(#f7c8c2, 5%);
        background: radial-gradient(ellipse at center, lighten(#f7c8c2, 5%) 50%, darken(#f7c8c2, 0%) 100%);
      }

      &.color-5 {
        background: #f7f7f7;
        background: radial-gradient(ellipse at center, #fff 50%, darken(#fff, 5%) 100%);
      }
    }

    .note-header {
      flex: 0 0 auto;
      height: 20px;
      background: rgba(0, 0, 0, 0.03);

      .header-icon {
        cursor: pointer;
        color: rgba(0, 0, 0, 0.2);
        opacity: 0;
        line-height: 20px;
        height: 20px;
        width: 20px;
        text-align: center;
        font-size: 12px;
        transition: .2s;
      }
    }

    &:hover {
      .note-header {
        .header-icon {
          opacity: 1;
        }
      }
    }

    .note-content {
      flex: 1 1 auto;
      outline: none;
      text-align: center;
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      position: relative;
      overflow: hidden;
      margin: 0 10px 10px;

      .note-text {
        cursor: text;
        outline: none;
        flex: 0 0 auto;
        justify-content: center;
        align-content: center;
        align-self: center;
        width: 100%;
        min-height: 20px;
        line-height: 1.3;
        font-family: 'Kalam', cursive;
        font-size: 13px;
        font-weight: 600;

      }
    }
  }
}

.note-menu {
  position: absolute;
  background: white;
  margin-top: 20px;
  z-index: 900;
  transition: .2s;
  opacity: 0;
  visibility: hidden;
  transform: translateY(20px);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);

  .menu-item {
    background: white;
    line-height: 30px;
    padding: 0 10px;
    border-bottom: 1px solid $light-grey;
    color: $body;
    font-weight: bold;
    cursor: pointer;
    text-align: left;
    transition: .2s;
    white-space: nowrap;

    .menu-icon {
      overflow: hidden;
      height: 25px;
      width: 25px;
      /* margin: 5px; */
      border-radius: 50px;
      top: -2px;
      position: relative;
      margin-right: 5px;
      display: inline-block;
      margin-bottom: -5px;
      //border: 1px solid #ddd;
      cursor: pointer;
      pointer-events: none;
    }

    &:hover {
      background: $off-white;
      transform: scale(1.3);
    }
  }

  &.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

.shadow {
  position: relative;
}

.shadow:before, .shadow:after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 5px;
  width: 50%;
  top: 80%;
  max-width: 300px;
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.2);
  transform: rotate(-7deg);
}

.shadow:after {
  transform: rotate(7deg);
  right: 5px;
  left: auto;
}
