<script type="text/ng-template" id="register.html">
    <div template="register">
        <div class="register">
            <div class="register-box">
                <div class="register-header">WLL.space</div>

                <div class="register-label">Email</div>
                <input class="register-input" placeholder="Email"/>

                <div class="register-label">Password</div>
                <input type="password" class="register-input" placeholder="Password"/>

                <p>Forgot your password</p>
                <div class="register-hr"></div>
                <div class="butn" ui-sref="home">register</div>
                <div class="register-hr"></div>
                <div class="register-butns">
                    <div class="butn secondary">Create Account</div>
                    <div class="butn secondary">Learn More</div>
                </div>
            </div>



        </div>
    </div>
</script>