<script type="text/ng-template" id="bootcamp-screen.html">
    <div screen style="background: #f7f7f7">

        <div class="container">
            <div style="margin-top: 30px;"></div>
            <h1 style="text-align: center;color: #d93621;font-size: 60px;">Bootcamp</h1>


            <div style="display: flex;flex-direction: row;margin-bottom: 30px;">
                <div style="flex: 1;margin-right: 30px;background: white;padding: 30px; box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);border-radius: 20px;">
                    <h2 style="color: #d93621">Kick-Off</h2>

                    <p>
                        ANDbootcamp is where we kick things off. It’s a 5 week tailored training programme which focusses on our areas of expertise – delivery techniques, digital, technology – combined with training in the professional skills required to deliver great work.
                    </p>

                    <p>
                        Through our workshop style sessions, teambuilding activities, case studies and hands on simulation we build cohesive, poly-skilled teams who are ready to respond to our clients’ needs.
                    </p>
                </div>

                <div style="flex: 1;border: white 3px solid;box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);border-radius: 20px;background-size:cover;background-position:center;background-image: url('public/img/100session1.jpg')">

                </div>

            </div>

            <div style="display: flex;flex-direction: row;margin-bottom: 30px;height: 300px;">
                <div style="margin-right:30px;flex: 1;border: white 3px solid;box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);border-radius: 20px;background-size:cover;background-position:center;background-image: url('public/img/160session1.jpg')"></div>
                <div style="margin-right:30px;flex: 1;border: white 3px solid;box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);border-radius: 20px;background-size:cover;background-position:center;background-image: url('public/img/154session1.jpg')"></div>
                <div style="flex: 1;border: white 3px solid;box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);border-radius: 20px;background-size:cover;background-position:center;background-image: url('public/img/010session3.jpg')"></div>

            </div>


            <div style="display: flex;flex-direction: row;margin-bottom: 30px;">

                <div style="flex: 1;border: white 3px solid;box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);border-radius: 20px;background-size:cover;background-position:center;background-image: url('public/img/003session1.jpg')"></div>

                <div style="flex: 1;margin-left: 30px;background: white;padding: 30px; box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);border-radius: 20px;">
                    <h2 style="color: #d93621">Join The Academy</h2>

                    <p>
                        Following ANDbootcamp, we provide a wealth of upskilling resources in our ANDacademy for our people and for clients to share - you’ll find a huge catalogue of learning across classroom training, online learning, community development and one-to-one coaching.
                    </p>
                    <p>
                        Our buzzy ANDacademy community site is where curious minds share and discuss their passions and knowledge and our Head Coaches provide expert opinions and points of view.
                    </p>


                </div>

            </div>
        </div>

    </div>
</script>